*.class

# Package Files #
*.jar
*.war
*.ear
*.log
# Idea Project Files #
*.iml
*gitignore
/.idea/
/out/
*.sql
*.classpath
*.project
*/.settings/
/.settings/
# Image Files #
#*.jpg
*.png
*.gif
/bin/
*.gz
*.log.*

/jfinalshop-4.0-pay/src/test/
target/
logs/
archive.zip
